# Byte-Compiled / Optimized
__pycache__/

# Distribution / Packaging
build/
*.egg-info/
.gradle

# Environments
venvs/

# Jupyter Notebooks
.ipynb_checkpoints

# Visual Studio Code
.vscode

# GDB History
.gdb_history